body {
    background-color: #827249;
}

video {
    position: absolute;
    visibility: hidden;
}

game {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#score, #strikes {
    font-family: sans;
    color: #eeeeee;
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    font-size: 32px;
}

#tutorial {
    font-family: sans;
    color: #eeeeee;
    width: 500px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    opacity: 0%;
    transition: opacity 0.1s;
}

#tutorial.show {
    opacity: 100%;
}
